@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 9px;
}

body{
    background-color: #EAE8FE;
}
button {
    cursor: pointer;
}

#container{
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 28px;
    padding-top: 247px;
    margin-bottom: 50px;
}

#container .img-header{
    position: absolute;
    width: 386px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.img-header .vend-logo{
    width: 100%;
}

/* 왼쪽 오른쪽 공동 */
#container .wrap-vend,
#container .wrap-info {
    flex-basis: 360px;
    background-color: #fff;
}
/* 왼쪽구간 */
#container .wrap-vend{
    padding: 31px 27px 28px;
}

/* 벤딩머신 안 품목 */
.wrap-vend .cola-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.wrap-vend .cola-list li{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.wrap-vend .cola-list li.sold-out{
    pointer-events: none;
}
.wrap-vend .cola-list li.sold-out::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center/60px 46px url(/images/Sold-out.png) rgba(0, 0, 0, 0.8);
}

.wrap-vend .cola-list .btn-item{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    padding: 11px 12px 9px;
}

.wrap-vend .cola-list .btn-item:active{
    border-radius: 10px;
    outline: 3px solid #6327FE;
}

.cola-list .btn-item .btn-price{
    display: block;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #6327FE;
    border-radius: 50px;
}
.cola-list .btn-item .img-item{
    width: 36px;
    height: 65px;
}

.cola-list .btn-item .txt-item{
    display: block;
    margin: 6px 0 7px;
}

/* 벤딩머신 버튼 */
.take-info-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 12px;
    margin-top: 20px;
}
.take-info-wrap .money-info, 
.take-info-wrap .money-input,
.take-info-wrap .btn-money,
.take-info-wrap .btn-put-money, 
.take-info-wrap .btn-take {
    font-size: 13px;
    border-radius: 5px;
}

.take-info-wrap .money-info {
    padding: 6px 10px;
    line-height: 20px;
    background-color: #EAE8FE;
}
.take-info-wrap .txt-changes {
    float: right;
}

.take-info-wrap .money-input{
    padding: 7px 6px;
}

.take-info-wrap .money-input::placeholder{
    color: #BDBDBD;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.take-info-wrap .btn-money,
.take-info-wrap .btn-put-money,
.take-info-wrap .btn-take{
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.take-info-wrap .btn-take{
    background-color: #6327FE;
    color: #fff;
}

/* 획득리스트 */
.list-take-cola{
    height: 106px;
    overflow-y: scroll;
    padding: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #EAE8FE;
}

.list-take-cola li {
    border-radius: 5px;
    background-color: #fff;
    overflow:hidden;
}
.right-list-wrap .list-take-cola li {
    padding: 6px 10px;
}

.take-info-wrap .list-take-cola button {
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 10px;
    width: 100%;
}
.list-take-cola .img-item,
.list-take-cola .txt-item{
    float: left;
}
.list-take-cola .img-item {
    width:18px;
    height: 33px;
}
.list-take-cola .txt-item{
    margin-left: 10px;
    line-height: 33px;
}
.list-take-cola .num-counter{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    width: 30px;
    height: 30px;
    line-height: 14px;
    font-size: 14px;
    border-radius: 5px;
}

/* 오른쪽 구간 */
#container .wrap-info {
    background-color: transparent;
}
.wrap-info .budget-wrap{
    padding: 9px 27px; 
    background-color: #fff;
}
.budget-wrap .title-budget{
    padding: 6px 10px;
    background-color: #EAE8FE;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
}
.title-budget #budget{
    float: right;
    font-weight: 700;
}

.right-list-wrap{
    margin-top: 20px;
    background-color: #fff;
    padding: 25px 27px;
}
.right-list-wrap .title-get-cola{
    display: block;
    font-size: 14px;
    font-weight: 700px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 13px;
}

.right-list-wrap .list-take-cola{
    height: 370px;
}
.right-list-wrap .txt-total{
    display: block;
    margin-top: 6px;
    text-align: right;
    font-size: 12px;
    line-height: 17px;
}

/* 반응형 페이지 */
@media only screen and (min-width: 320px) and (max-width:480px) and (-webkit-min-device-pixel-ratio:2){
    body{
        background-color: #fff;
    }
    #container{
        padding-top: 96px;
    }
    #container .img-header{
        width: 166px;
    }
    .take-info-wrap .money-input::placeholder{
        text-align: right;
    }
}