@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 9px;
}

body{
    background-color: #EAE8FE;;
}

header{
    text-align: center;
    margin-bottom: 67px;
}

.vend-logo{
    width: 386px;
    height: 180px;
}

.vend-cont{
    display: flex;
    justify-content: center;
}

.wrap-left/* , .wrap-right */ {
    width: 360px;
    height: 545px;
    background-color: #fff;
    margin-bottom: 171px;
    padding: 31px 27px 28px;
    box-sizing: border-box;
}

section + section {
    margin-left: 28px;
}

/* 왼쪽구간 */
/* 벤딩머신 안 품목 */
.cola-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.cola-list img{
    display: block;
    margin: 0 auto 6px;
    width: 36px;
    height: 65px;
}

.cola-list button{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 11px 12px 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.cola-list button:active {
    outline: 3px solid #6327FE;
    border-radius: 10px;
}

button{
    cursor: pointer;
}

.btn-price{
    display: inline-block;
    background-color: #6327FE;
    border-radius: 50px;
    margin: 7px auto 0;
    padding: 5px 15px;
    width: 70px;
    font-size: 12px;
    box-sizing: border-box;
    color: #fff;
}

.take-info-wrap{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 12px;
    font-size: 13px;
}

.money-info {
    width: 200px;
    height:32px;
    border-radius: 5px;
    box-sizing: border-box;
}

.money-info.changes-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 10px;
    background-color: #EAE8FE;
    border: none;
    font-size: 14px;
}
.money-info.input{
    padding-left: 6px;
    border: 1px solid #BDBDBD;
}

::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
}

.btn-money{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.list-take-cola{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 106px;
    padding: 12px 12px 0 ;
    border-radius: 5px;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.list-take-cola li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    padding: 6.5px 8px 6.5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
}
.list-take-cola li + li{
    margin-top: 6px;
}
.list-take-cola li img,
.list-take-cola-big li img{
    width: 18px;
    height: 33px;
}

.list-take-cola li span,
.list-take-cola-big li span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #BDBDBD;
    width: 30px;
    height: 30px;
    /* padding: 6px 11px 6px; */
    box-sizing: border-box;
    border-radius: 5px;

}
.list-take-cola li p,
.list-take-cola-big li p{
    display: inline-block;
    font-size: 9px;
    margin-left: 10px;
    line-height: 33px;
    vertical-align: top;
}
.list-take-cola::-webkit-scrollbar, 
.list-take-cola-big::-webkit-scrollbar {
    width: 12px;
    background-color: #EAE8FE;
}
.list-take-cola::-webkit-scrollbar-thumb,
.list-take-cola-big::-webkit-scrollbar-thumb {

    background-color: #fff;
    border-radius: 50px;
    background-clip: padding-box;
    border: 4px solid #EAE8FE;
}
.list-take-cola::-webkit-scrollbar-track,
.list-take-cola-big::-webkit-scrollbar-track {
    background-color: #EAE8FE;
}

.btn-take{
    background-color: #6327FE;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* 오른쪽 구간 */
.budget-wrap{
    width: 360px;
    height: 50px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 9px 27px;
    box-sizing: border-box;
}
.title-budget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 306px;
    height: 32px;
    background-color: #EAE8FE;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.title-budget span{
    font-weight: 700;
}

.right-list-wrap{
    width: 360px;
    height: 475px;
    background-color: #fff;
    padding: 25px 27px;
    box-sizing: border-box;
    text-align: center;
}

.list-take-cola-big{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 306px;
    height: 364px;
    margin: 13px 0 11px;
    padding: 12px 12px 0 ;
    border-radius: 5px;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.list-take-cola-big li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    padding: 6.5px 10px 6.5px 10px;
    box-sizing: border-box;
    width: 276px;
    height: 46px;
    background-color: #fff;
    border-radius: 5px;
}

.list-take-cola-big li+li{
    margin-top: 6px;
}

.title-get-cola{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.take-cola-total{
    text-align: right;
    font-size: 12px;
}

/* 품절 */
.wrap-left .cola-list li.sold-out{
    width: 94px;
    height: 130px;
}
.wrap-left .cola-list li.sold-out::before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: url('../images/Sold-out.png') no-repeat center/ 57px 44px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
/* 반응형 페이지 */
@media screen and (max-width:834px) {
    body{
        background-color: #fff;
    }
    header{
        margin-bottom: 0;
    }
    
    .vend-logo{
        width: 166px;
        height: 78px;
    }
    .vend-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section + section {
        margin: 0;
    }
    .wrap-left{
        margin-bottom: 0;
    }
    .budget-wrap{
        margin-bottom: 0;
    }
}